<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Smart Parking</title>
</head>

<body>
  <div id="remains"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script>
    $(document).ready(function () {
      var socket = io.connect('http://' + document.domain + ':' + location.port + '/');
      socket.on('update remains', function (data) {
        $('#remains').append('<p>Received: ' + data.count + '</p>');
      });
    });
  </script>
</body>

</html>